<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/HBMviz/static/css/styles.css">
    <title>Home - Bayesian Exploratory Project</title>
</head>
<body>
    <header>
        <h1>Welcome to the Bayesian Exploratory Project</h1>
        <nav>
            <a href="/">Home</a>
            <a href="/bayesian_inference">Bayesian Inference</a>
            <a href="/hierarchical_models">Hierarchical Models</a>
            <a href="/bayesian_hierarchical">Bayesian Hierarchical Models</a>
            <a href="/astrophysics_case">Astrophysics Case</a>
        </nav>
    </header>
    <main>
        <p>
